<div id="about" dir="rtl">
<h1>מי אנחנו</h1>
			<p>		
			איך שלא נסתכל על זה, אופנה היא הדבר שמניע את כולנו.

			מה שאנחנו לובשים זה מה שמשקף את מי שאנחנו או את מי שאנחנו רוצים להיות.

			נעליים יכולים לשנות את מצב הרוח שלנו ואת הדרך שבה אנחנו מסתכלים על העולם.

			לכן בשבילנו  ב QuickShoesIL להתעסק באופנה זו דרך להסתכל על החיים.

			בפריטים ב QuickShoesIL תוכלו למצוא כאן תמיד משהו שיתאים לכם ולמי שאתם.

			האופציה לקנות בכל שעה ומכל מקום, להסתכל להתלבט, לבחור ולהתחרט, ואחר כך לבחור שוב, לשלם ולהזמין משלוח עד אליכם

			הופכת את החוויה של קניית הנעליים למושלמת. לכן אנחנו גם משקיעים מחשבה בכל פריט שמופיע באתר.

			QuickShoesIL מציע פריטים שמיובאים מארצות הברית ונבחרו על ידי הסטייליסטים שלנו בהתאם לטרנדים החמים בעולם האופנה. פריטים ליום יום, ליציאה מטורפת בלילה, למסיבה הכי חמה בעיר, לאורחה עם המשפחה, או סתם לשבת איתם על הספה.

			אז עכשיו כל מה שנשאר לכם לעשות זה להיכנס ל QuickShoesIL ולהתחיל לבחור את מה שמתאים לכם.

			 המשלוחים ב QuickShoesIL חינם !
			</p><br>
			
		<h2>תקנון האתר:</h2>
			<p>
			האתר משמש כאתר מכירות אינטרנטי.
			אבטחת המידע באתר QuickShoesIL עומדת בתקנים הגבוהים ביותר של אבטחת מידע.
			אנו עושים את המרב על-מנת להגן על פרטי כרטיס האשראי והמידע האישי של הקונה (להלן: “המזמין”). אפשרות הסליקה באתר עובדת תחת תקן אבטחה מחמיר  ssl level 1 של חברת האבטחה הגדולה בעולם.
			כאשר לצורך ביצוע התשלום, המזמין מועבר ישירות לאתר מאובטח של חברת הסליקה כך שפרטי כרטיס האשראי אינו נשמר כלל בשרתי האתר.
			מספר כרטיס האשראי והפרטים האישיים שאשר מוזנים בעת הקנייה במערכת, נשלחים ישירות אל חברת הסליקה ולא מאוחסנים באתר בשום צורה שהיא.
			באופן זה נמנעת האפשרות מצד שלישי להגיע לפרטי כרטיס האשראי, למעט בעלי האתר ולשימוש פנימי בלבד. בכך אנו מכבדים את פרטיותך.
			אנו לא נעביר, בשום מקרה, מידע אישי הקשור לחשבונך לצד שלישי למעט מקרים הכרחיים להשלמת ביצוע העסקה, ההזמנה והמשלוח ו/או שירות שבחרת לרכוש. השימוש באתר על תכניו והשירותים הניתנים בו, מוצעים למזמין בכפוף לאישורו לתנאים הכלולים בתקנון זה.
			הגלישה באתר ו/או הרשמה כמנוי לקבלת שירותיו ו/או רכישה בו, ייחשבו להסכמה מצד המזמין לתנאים אלו.
			הנהלת האתר רשאית להשעות, לחסום או להפסיק לאלתר את גישת המזמין לשירות, אם יפר את תנאי התקנון. אין לעשות באתר או באמצעותו כל שימוש למטרות בלתי חוקיות ללא הסכמת הנהלת האתר.
			</p><br>
			<p>
			הרישום באתר הוא לשימושו האישי והבלעדי של המזמין, המזמין אינו רשאי להעביר את הרשאת השימוש לאדם אחר בשום דרך ובשום צורה שהיא.
			קיימת חובה לדייק בכל הפרטים האישיים הנדרשים לצורך הרישום ולצורך הקשר השוטף עם המזמין.
			המזמין מצהיר כי ידוע לו שלהנהלת האתר אין כל יכולת או אפשרות לבדוק, לנפות או לסנן את המנויים הנרשמים לאתר.
			בכוונת הנהלת האתר כי האתר ושירותיו יהיו זמינים בכל עת.
			למען הסר ספק, יובהר בזאת כי פניות לא יקבלו מענה במהלך יום השבת.
			עם זאת, הנהלת האתר לא מתחייבת לזמינות רצופה ללא תקלות וללא “נפילות” של האתר.
			כמו כן רשאית הנהלת האתר להפסיק את השימוש באתר מעת לעת לצורכי תחזוקה ושדרוג. לא יינתן כל פיצוי כספי/זיכוי בשל תקלות או הפסקות בשירות.
			כל זכויות הקניין הרוחני וזכויות היוצרים של התוכן הפרסומי הם של ספקי הנהלת האתר, למעט מקרים בהם צוין אחרת. כל המוצרים המוצגים באתר, הינם יבוא מקביל ואין הנהלת האתר אחראית על סוג או טיב המוצר.
			יש לציין כי המוצרים המוצגים הינם לרוב של ספקים בחו”ל ואינם חוסים תחת הגנת סימן המסחר של בעל המותגים בישראל.
			הנהלת האתר אינה אחראית לתוכן המודעות, “באנרים” או כל חומר פרסומי באתר.
			האחריות לכך על המפרסמים בלבד. הימצאותם של קישורים (“לינקים”) לאתרים אחרים אינם מהווים ערובה לתכנים באתרים אלה מבחינת מהימנותם, שלמותם, או מכל בחינה אחרת ואינם באחריותה של בעלת האתר.
			</p><br>

		<h2>מדיניות החלפה / החזרה</h2>
			<p>
			על המזמין לוודא כי ההזמנה שבוצעה תואמת את דרישותיו לרבות: מידה ו/או דגם, ורק לאחר מכן יש לבצע אישור הזמנה ותשלום .
			לא תינתן אפשרות החלפה או החזרה, היות והמוצרים מוזמנים בהזמנה אישית ומותאמים לצרכי המזמין, לרבות מידות אישיות.
			הנהלת האתר שומרת לעצמה את הזכות לזיכוי ו/או החלפה וזאת כל עוד ולא נעשה שימוש והמוצר ללא פגם, ולשיקול דעתה הבלעדי.
			עלות המשלוח ואחריות ההחזרה חלים על הקונה וזאת תוך פרק זמן סביר אולם לא יאוחר מ-48 שעות מרגע קבלת המוצר ומותנה בקבלת אישור מאת הנהלת האתר לביצוע ההחזרה.
			במידה ונעשתה רכישה, אולם המוצר אזל מהמלאי, תינתן אפשרות למזמין לבחור מוצר זהה או לחילופין לבצע ביטול עסקה והחזר כספי.
			וזאת תוך 7 ימי עסקים מרגע הודעת הנהלת האתר כי המוצר אזל מהמלאי והמזמין לא בחר מוצר חלופי.
			</p><br>
		<h2>אספקה</h2>
			<p>
			יבוא אישי של QuickShoesIL מבוצע מחו”ל ע”י משלוחי “DHL” של החברות המובילות בעולם,
			ישנם שני אפשרויות משלוח באתרינו .
			אפשרות 1: משלוח בדואר רשום ללא עלות עם מספר מעקב של החבילה בקנייה מעל 300 שח.
			אפשרות 2: משלוח בחברת DHL במחיר 50/75 שח עם מספר מעקב של החבילה.
			כל סוגי המשלוח הם כפופים באופציית השליחה שאנו מוכרים
			</p><br>
			<p>
			 האתר פונה לציבור הגולשים והגולשות כאחד. במקום שצוין לשון זכר הכוונה גם ללשון נקבה וההיפך, וזאת למען הנוחות בלבד.
       </p>
      </div>