<footer id="footer">
  <div class="social-container">
    <ul class="social-icons">
      <li>
        <a href="https://www.facebook.com/dani.admaso" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="mailto:AdmasoDaniel@gmail.com">
          <i class="fa fa-google"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/DanielAdmaso" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/danieladmaso/" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="+972528042666">
          <i class="fa fa-phone"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-copyright">
    <p>
      Copyright © 2019. All Rights Reserved.
      <a href="#">DanielAdmaso</a>
    </p>
  </div>
</footer>
