a {
  // color: steelblue;
  text-decoration: none;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  opacity: 0.4;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
  background-color: rgba(0, 181, 245, 0.05);
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #00b5f5;
  background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

li {
  display: inline-block;
  margin: 1.15em !important;
  position: relative;
  font-size: 0.2em !important;
}

/*-----------------------------------------  Moblie -----------------------------------------*/
@media only screen and (max-width: 600px) {
  #footer {
    bottom: 0;
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(44, 45, 48);
  }

  // .footer-follow {
  //   text-align: center;
  //   margin-bottom: 20px;
  // }

  // .footer-follow a {
  //   display: inline-block;
  //   width: 50px;
  //   height: 50px;
  //   line-height: 50px;
  //   text-align: center;
  //   border-radius: 3px;
  //   color: #fff;
  // }

  i {
    font-size: 28px;
  }

  .footer-copyright p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    color: #868f9b;
  }
  .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    margin: 20%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #00b5f5, #002a8f);
    transition: all 265ms ease-out;
  }

  .social-container {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}

/*----------------------------------------- Tablet Styles -----------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 960px) {
  #footer {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(44, 45, 48);
  }

  i {
    font-size: 36px;
  }

  .footer-copyright p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    color: #868f9b;
  }

  .social-container {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    margin: 10%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #00b5f5, #002a8f);
    transition: all 265ms ease-out;
  }
}

/*----------------------------------------- Desktop Styles -----------------------------------------*/
@media only screen and (min-width: 961px) {
  #footer {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(44, 45, 48);
  }

  i {
    font-size: 36px;
  }

  .footer-copyright p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    color: #868f9b;
  }

  .social-container {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    margin: 10%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #00b5f5, #002a8f);
    transition: all 265ms ease-out;
  }
}
