<div class="container-fluid">
  <div id="brands"></div>
  <br /><br /><br />
  <h1>Our Brands:</h1>

  <div class="row">
    <div class="col-sm-4">
      <a class="circle" [routerLink]="['/nike']" id="one">
        <span>Nike</span>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="circle" [routerLink]="['/adidas']" id="two">
        <span>Adidas</span>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="circle" [routerLink]="['/puma']" id="three">
        <span>puma</span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <a class="circle" [routerLink]="['/vans']" id="four">
        <span>vans</span>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="circle" [routerLink]="['/allstar']" id="five">
        <span>allstar</span>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="circle" [routerLink]="['/asics']" id="six">
        <span>asics</span>
      </a>
    </div>
  </div>
</div>
