<div class="container-fluid">
  <div id="brands"></div>
  <br /><br /><br />
  <h1>Our Brands:</h1>

  <div class="row">
    <div class="col-sm-4">
      <a class="circle" [routerLink]="['/nike']" id="one">
        <span>Nike</span>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="circle" href="#" id="two">
        <span>Adidas</span>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="circle" href="#" id="three">
        <span>puma</span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <a class="circle" href="#" id="four">
        <span>vans</span>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="circle" href="#" id="five">
        <span>allstar</span>
      </a>
    </div>
    <div class="col-sm-4">
      <a class="circle" href="#" id="six">
        <span>asics</span>
      </a>
    </div>
  </div>
</div>
